<div id="<%= dom_id team %>">
  <p>
    <strong>Team:</strong>
    <%= team.team_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= team.description %>
  </p>

  <p>
    <strong>Team lead:</strong>
    <%= team.team_lead %>
  </p>

  <p>
    <strong>Team Id:</strong>
    <%= team.team_id %>
  </p>

</div>
