<p style="color: green"><%= notice %></p>

<%= render @target %>

<div>
  <%= link_to "Edit this target", edit_target_path(@target), class:"btn btn-secondary" %> 
  <%= link_to "Back to targets", targets_path, class:"btn btn-dark" %>
  <br>
  <br>

  <%= button_to "Destroy this target", @target, method: :delete, class:"btn btn-secondary" %>
</div>
